<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Hello World</h1>-->
<!--<form action="#" [formGroup]="countryForm" (ngSubmit)="submit()">-->
<!--<label >Name:-->
<!--<input type="text" formControlName = "name" >-->
<!--</label>-->
<!--<label >Visa:-->
<!--<input type="text" formControlName = "visa" >-->
<!--</label>-->
<!--<button type="submit" [disabled]="!countryForm.valid">Save</button>-->
<!--</form>-->
<!--<div>Length : {{posts.length}}</div>-->
<!--<ul *ngIf="true">-->
<!--<li *ngFor="let post of posts ">{{post.id}} {{post.localized_name}}</li>-->
<!--</ul>-->
<app-header></app-header>
<router-outlet></router-outlet>
